@import './../../assets/styles/constants.scss';

.title {
    background-color: rgb(224, 191, 245);
    text-align: center;
    padding: 10px;
    font-family: 'Roboto Medium';
    border: 1px solid black;
    border-bottom: none;
}

.tableRowH {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 15%;
    text-align: center;
    background-color: rgb(228, 200, 245);
}

.tableCellH {
    padding: 5px;
    background-color: rgb(224, 191, 245);
    border: 1px solid black;
    border-right: none;
}