@font-face {
    font-family: 'Roboto Bold';
    src: local("Roboto Bold"), url('$fonts/Roboto/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: local("Roboto Regular"), url('$fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: local("Roboto Medium"), url('$fonts/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: local("Roboto Thin"), url('$fonts/Roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}